<footer class="page-footer bg-dark fixed-bottom">
  <div class="footer-copyright text-white py-3">

    <div class="d-flex justify-content-around align-items-center">
      <div class="d-flex-column">
        <div>@2021 Copyright</div>
        <div class="row py-2 align-items-center">
          <i class="fas fa-phone-alt px-3"></i>
          <p class="my-2">+995 571 17 77 71</p>
        </div>
      </div>

      <img class="img-fluid" src="../../assets/media/logo.png" alt="no_logo" />

      <div>
        <div>Social media</div>
        <hr />
        <div class="row justify-content-around">
          <div><i class="fab fa-instagram"></i></div>
          <div><i class="fab fa-facebook"></i></div>
          <div><i class="fab fa-twitter"></i></div>
        </div>
      </div>
    </div>
  </div>
</footer>
