<footer class="page-footer bg-dark fixed-bottom">
  <div class="footer-copyright text-white py-3">
    
    <div class="d-flex justify-content-around align-items-center">
      <div class="d-flex-column">
        <h6 class="text-uppercase font-weight-bold">ნავიგაცია </h6>
        <hr />
        <ul class="list-unstyled">
          <li class="my-2"><a href="#">features</a></li>
          <li class="my-2"><a href="#">examples</a></li>
          <li class="my-2"><a href="#">about</a></li>
        </ul>
        
      </div>

      <img class="img-fluid" src="../../assets/media/logo.png" alt="no_logo" />

      <div>
        <div>Social media</div>
        <hr />
        <div class="row justify-content-around">
          <div><i class="fab fa-instagram"></i></div>
          <div><i class="fab fa-facebook"></i></div>
          <div><i class="fab fa-twitter"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py3">
    <p>&copy; copyright
   <a href="#">TravelMore 2021</a></p>
  </div>
</footer> 