footer{
  position: relative;
  width: 100%;
}

hr {
  margin-top: 0;
  background-color: white;
}

.fab {
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  transition: font-size 0.2s;
}

.fab:hover {
  color: #118ab2;
  font-size: 24px;
}

.img-fluid{
  width: 10%;
  height: 100px;
}
