<footer class="page-footer bg-dark">
  <div class="footer-copyright text-white py-3">
    <!-- @2021 Copyright  -->
    <div class="d-flex justify-content-around">
      <div>@2021 Copyright</div>
      <div>
        <!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->
        <div>Social media</div>
        <hr />
        <div class="row justify-content-around">
          <div><i class="fab fa-instagram"></i></div>
          <div><i class="fab fa-facebook"></i></div>
          <div><i class="fab fa-twitter"></i></div>
        </div>
      </div>
    </div>
  </div>
</footer>
