/* footer{

} */

hr {
  margin-top: 0;
  background-color: white;
}
h6{
  font-size: 15px;
}
.my-2{
  color: white;
}
.fab {
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  transition: font-size 0.2s;
}

.fab:hover {
  color: #118ab2;
  font-size: 24px;
}

.img-fluid{
  width: 15%;
  height:10%;
}

footer{
  position: relative !important;
}
@media only screen and (max-width: 992px) {
  .img-fluid{
    width: 30%;
    height:20%;
  }
}
@media only screen and (max-width: 800px) {
  .img-fluid{
    width: 25%;
    height:15%;
  }
}
@media only screen and (max-width: 600px) {
  .img-fluid{
    width: 15%;
    height:10%;
  }
}
@media only screen and (min-width: 400px) {
  .img-fluid{
    width: 9%;
    height:6%;
  }
}
