<div class="container">
    <div class="add-costumers">

        <div class="section1">
            <div class="row ">
                <div class="title col-sm-6  p-4 text-left">
                    <h2>Your Costumers</h2>
                </div>
                <div class="add-costumers-btn col-sm-6  p-4 text-right">
                    <button class="btn btn-outline-success p-2">ADD CUSTOMER</button>
                </div>
            </div>
        </div>

        <div class="section2 mt-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 ">
                        <button class="btn btn-outline-secondary mr-3">EDIT</button>
                        <button class="btn btn-outline-secondary ">DELETE</button>
                    </div>

                    <div class="col-sm-4  p-2" style="text-align: center;">
                        <span><strong>all costumers: (124)</strong> </span>
                    </div>

                    <div class="col-sm-4">
                        <div class="input-group rounded">
                            <span class="input-group-text border-0" id="search-addon">
                                <i class="fas fa-search"></i>
                              </span>
                            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                              aria-describedby="search-addon" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
