<div class="container" >
  <div class="add-costumers">
    <div class="section1">
      <div class="row">
        <div class="title col-sm-6 p-4 text-left">
          <h2>Your Hotels</h2>
        </div>
        <div class="add-costumers-btn col-sm-6 p-4 text-right">
          <button class="btn btn-outline-success p-2" (click)="openLg(mymodal)">
            ADD CUSTOMER
          </button>

          <!-- Modal -->
          <ng-template #mymodal let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Add information of Hotel</h4>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" style="position: relative; height: auto">
              <div class="container">
                <div
                  class="content d-flex flex-column text-center pl-5 pr-5 pt-3"
                >
                  <label for="" class="my-2">Image</label>
                  <input
                    class="border rounded"
                    [(ngModel)]="product.Image"
                    type="text"
                    style="height: 35px"
                  />
                  <label for="">Hotel Name</label>
                  <input
                    class="border rounded"
                    [(ngModel)]="product.name"
                    type="text"
                    style="height: 35px"
                  />
                  <label for="" class="mt-2">Hotel Address</label>
                  <input
                    class="border rounded"
                    [(ngModel)]="product.HotelAddress"
                    type="text"
                    style="height: 35px"
                  />
                  <label for="" class="mt-2">City</label>
                  <input
                    class="border rounded"
                    [(ngModel)]="product.City"
                    type="text"
                    style="height: 35px"
                  />
                  <label for="" class="mt-2">Descrption</label>
                  <div class="form-floating">
                    <textarea
                      class="form-control"
                      [(ngModel)]="product.Descrption"
                      placeholder="Leave a comment here"
                      id="floatingTextarea2"
                      style="height: 100px"
                    ></textarea>
                  </div>
                  <div class="save mt-2">
                    <button
                      type="submit"
                      class="btn btn-outline-dark"
                      (click)="addFile()"
                    >
                      save
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                class="btn btn-outline-dark"
                (click)="modal.close('Save click')"
              >
                Ok
              </button>
            </div>
          </ng-template>
          
        </div>
      </div>
    </div>

    <div class="section2 mt-3">
      <div class="container">
        <div class="row">
          <div class="col-sm-4"></div>

          <div class="col-sm-4 p-2" style="text-align: center">
            <span
              ><strong>all Hotels: ({{ allCustomers }})</strong>
            </span>
          </div>

          <!-- <p>{{product.name}}</p>
                    <p>{{HotelAddress}}</p> -->
          <div class="col-sm-4">
            <form>
            <div class="input-group rounded">
              <span class="input-group-text border-0" id="search-addon">
                <button class="btn btn-sm" (click)="searchHotel(searchValue.value)"><i class="fas fa-search"></i></button>
              </span>
              <input
                type="search"
                class="form-control rounded"
                placeholder="Search"
                aria-label="Search"
                aria-describedby="search-addon"
                #searchValue
              />
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>

  

  </div>
</div>

<button (click)="logout()">Logout</button>

<div class="container mt-5">
  <!-- <div *ngFor="let prod of product;">{{prod.name}}</div> -->
  <!-- <p *ngFor='let i of product;'></p> -->
  <app-table [item]="customers"></app-table>
</div>
