/* .add-costumers{
    background-color: blanchedalmond;
} */

@media only screen and (max-width: 575px){
    .title, .add-costumers-btn {
        text-align: center!important;
        /* background-color: black; */
    }

    .section2{
        text-align: center!important;
    }
}
