<div class="container">
  <app-navigation></app-navigation>
  <section>
    <div class="container-header border rounded" style="margin-top: 120px">
      <div class="row">
        <div class="text-center pt-2 col-md-3 col-sm-12">
          <h2><strong>Hotel Name</strong></h2>
        </div>
        <div class="text-center pt-2 col-md-3 col-sm-12">
          <h2><strong>Hotel Address</strong></h2>
        </div>
        <div class="text-center pt-2 col-md-3 col-sm-12">
          <h2><strong>City</strong></h2>
        </div>
        <div class="text-center pt-2 col-md-3 col-sm-12">
          <h2><strong>Description</strong></h2>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div
      class="row mt-5 border rounded"
      style="min-height: 70px; background-color: rgb(206, 211, 214)"
    >
      <div class="text-center mt-3 pt-2 col-md-3 col-sm-12">
        <p style="font-weight: bolder">{{ HotelName }}</p>
      </div>
      <div class="text-center mt-3 pt-2 col-md-3 col-sm-12">
        <p style="font-weight: bolder">{{ HotelAddress }}</p>
      </div>
      <div class="text-center mt-3 pt-2 col-md-3 col-sm-12">
        <p style="font-weight: bolder">{{ City }}</p>
      </div>
      <div class="text-center mt-3 pt-2 col-md-3 col-sm-12">
        <p style="font-weight: bolder">{{ Description }}</p>
      </div>
    </div>
  </section>

  <!-- Hotel Photo Gallery -->
  <section>
    <div class="container mt-5">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide" />
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide" />
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" />
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </section>

  <section>
    <div
      class="container border rounded pt-3"
      style="
        background-color: rgb(62, 159, 204);
        height: 60px;
        margin-top: 80px;
      "
    >
      <div class="d-flex justify-content-between">
        <p style="font-size: 20px; margin-top: 4px;">
          <strong>Room status</strong>
        </p>
        <button class="btn add__newroom_button" type="submit" (click)="openLg(mymodal)"><i class="fas fa-plus-square"></i></button>
      </div>
    </div>

    <!-- Modal -->
    <ng-template #mymodal let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Add information of Hotel</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body" style="position: relative; height: auto">
        <div class="container">
          <div
            class="content d-flex flex-column text-center pl-5 pr-5 pt-3"
          >
            <label for="" class="my-2"><b>Room Number</b> </label>
            <input
              class="border rounded"
              [(ngModel)]="product.roomNumber"
              type="text"
              style="height: 35px"
            />
            <label for="" class="mt-2"><b>Person Ammount in Room</b> </label>
            <input
              class="border rounded"
              [(ngModel)]="product.roomPlaces"
              type="text"
              style="height: 35px"
            />
            <label for="" class="mt-2"><b>Is the room taken? (true/false)</b></label>
            <input
              class="border rounded"
              [(ngModel)]="product.taken"
              type="text"
              style="height: 35px"
            />
            <label for="" class="mt-2"><b>Price</b></label>
            <input
              class="border rounded"
              [(ngModel)]="product.price"
              type="text"
              style="height: 35px"
            />
            <label for="" class="mt-2"><b>Additional Amenities</b></label>
            <div class="form-floating">
              <textarea
                class="form-control"
                [(ngModel)]="product.amenities"
                placeholder="Leave a comment here"
                id="floatingTextarea2"
                style="height: 100px"
              ></textarea>
            </div>
            <div class="save mt-2">
              <button
                type="submit"
                class="btn btn-outline-dark"
                (click)="addHotelRoom()"
              >
                save
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-outline-dark"
          (click)="modal.close('Save click')"
        >
          Ok
        </button>
      </div>
    </ng-template>
  </section>

  <section class="pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h3 class="mb-3">Hotel Rooms</h3>
        </div>
        <div class="col-6 text-right">
          <a
            class="btn btn-primary mb-3 mr-1"
            href="#carouselExampleIndicators2"
            role="button"
            data-slide="prev"
          >
            <i class="fa fa-arrow-left"></i>
          </a>
          <a
            class="btn btn-primary mb-3"
            href="#carouselExampleIndicators2"
            role="button"
            data-slide="next"
          >
            <i class="fa fa-arrow-right"></i>
          </a>
        </div>
        <div class="col-12">
          <div
            id="carouselExampleIndicators2"
            class="carousel slide"
            data-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let data of chunkedHotelData; let i = index;" [ngClass]="{'active' : i == 0}" >
                <div class="row d-flex flex-nowrap">
                  <div class="col-md-4 mb-3"  *ngFor="let d of data">
                    <div class="card">
                      <img
                        class="img-fluid"
                        alt="100%x280"
                        src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4"
                      />
                      <div class="card-body">
                        <h4 class="card-title">{{d.roomNumber}}</h4>
                        <p class="card-text">
                          {{d.roomPlaces}}
                        </p>
                        <h3>Amenities: <em>{{d.amenities}}</em> </h3>
                        <h3>{{d.price}}</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
</div>

<div style="margin-top: 100px;">
  <app-footer></app-footer>
</div>
