.register-div{
    width: 500px;
    height: 550px;
    background-color: #d9dadd;
    margin-left: 60%;
    /* margin-top: 100px; */
}

input[type="text"]::placeholder {  
    padding-left: 10px; 
    font-size: 15px;
    color: #353636;
    opacity: 0.5;
} 

input[type="number"]::placeholder{
    padding-left: 10px; 
    font-size: 15px;
    color: #353636;
    opacity: 0.5;
}

.button {
    padding: 10px 25px;
    text-decoration: none;
    margin: 4px 4px;
   }