.register-div{
    width: 500px;
    height: 550px;
    background-color: #d9dadd;
    position: absolute!important;
    margin-left: 37%;
    /* margin-top: 100px; */
}

input[type="text"]::placeholder {  
    padding-left: 10px; 
    font-size: 15px;
    color: #353636;
    opacity: 0.5;
} 

input[type="number"]::placeholder{
    padding-left: 10px; 
    font-size: 15px;
    color: #353636;
    opacity: 0.5;
}

.button {
    padding: 10px 25px;
    text-decoration: none;
    margin: 4px 4px;
<<<<<<< Updated upstream
   }


   @media only screen and (max-width: 1400px){
       .container{
            margin-top: 20px;
       }
       .register-div{
            margin-left: 30%;
       }
   }

   @media only screen and (max-width: 768px){
        .container{
            margin-top: 50px!important;
        }

        .register-div{
            margin-left: 17%;

        }
    }
=======
   }
>>>>>>> Stashed changes
