/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
   }


/* html,
body {
 height: 100%;
 position: relative;
} */



/* html, body { height: 100%; } */
body {  font-family: 'Poppins', sans-serif!important; }

